.dropdown {
  width: 83px;
  height: 36px;
  position: relative;
}

.dropdownOpen {
  height: 68px;
  background-color: #333;
}

@mixin button {
  width: 46px;
  height: 12px;
  padding: 0;
  font-family: Nunito;
  font-size: 10px;
  text-transform: uppercase;
  text-align: start;
  vertical-align: baseline;
  color: #aaa;
  background-color: #000;
  border: none;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.buttonMain {
  @include button;
  width: 60px;
  margin: 12px 0 12px 14px;
}

.button {
  @include button;
  margin-left: 14px;
}

.buttonOpen {
  background-color: #333;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 17px;
  left: 64px;
  border-top: 4px solid #aaa;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
