.dropdown {
  width: 53px;
  height: 36px;
  font-family: Nunito;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #aaa;
  user-select: none;
}

.isOpen {
  width: 53px;
  height: 68px;
  background-color: #333;
  cursor: pointer;
}

.itemMain {
  padding: 12px 0 0 14px;
  &:hover {
    color: #fff;
  }
}

.item {
  padding: 21px 0 0 14px;
  &:hover {
    color: #fff;
  }
}