.top {
  width: 100vw;
  height: 36px;
  display: flex;
  justify-content: start;
  padding-left: 25vw;
  background-color: #000;
}

.groupLeft {
  width: 223px;
  height: 36px;
  display: flex;
  justify-content: space-between;
}

.groupCenter {
  margin-top: 12px;
  font-family: Nunito;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
}
