.dropdown {
  width: 83px;
  height: 36px;
  margin-left: 25vw;
  box-sizing: border-box;
  font-family: Nunito;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #aaa;
  user-select: none;
  &:hover {
    width: 83px;
    height: 129px;
    background-color: #333;
    cursor: pointer;
  }
}

.itemMain {
  padding: 12px 0 20px 10px;
  &:hover {
    color: #fff;
  }
}

.item {
  padding: 0 0 10px 10px;
  &:hover {
    color: #fff;
  }
}