.dropdown {
  width: 83px;
  height: 36px;
}

.dropdownOpen {
  height: 129px;
  background-color: #333;
  cursor: pointer;
}

@mixin button {
  width: 54px;
  height: 12px;
  padding: 0;
  font-family: Nunito;
  font-size: 10px;
  text-transform: uppercase;
  text-align: start;
  vertical-align: baseline;
  color: #aaa;
  background-color: #000;
  border: none;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.buttonMain {
  @include button;
  width: 67px;
  margin: 12px 0 20px 14px;
}

.button {
  @include button;
  margin: 0 0 6px 14px;
}

.buttonOpen {
  background-color: #333;
}
