.searchGroup {
  position: absolute;
  top: 70px;
  left: 74vw;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 1px;
  height: 27px;
  background-color: #4f4f4f;
}

.search {
  width: 70px;
  font-family: Nunito;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  color: #282828;
  border: none;
  &:focus {
    outline: none;
  }
}

.searchGroupOnFocus {
  left: 60vw;
  width: 280px;
}

.searchOnFocus {
  width: 250px;
}
