@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: Playfair Display SC;
  src: url("/fonts/Playfair-Display/PlayfairDisplay-Regular.ttf")
}

body {
  margin: 0;
}
