@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: Nunito Bold;
  src: url("/fonts/Nunito/Nunito-Bold.ttf");
}

@font-face {
  font-family: Playfair Display SC;
  src: url("/fonts/Playfair-Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: Playfair Display SC Bold;
  src: url("/fonts/Playfair-Display/PlayfairDisplay-Bold.ttf");
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e4e2e1;
    &:hover {
      background-color: #aaa;
    }
  }
}
