.dropdown {
  width: 83px;
  height: 36px;
  background-color: #000;
}

.dropdownOpen {
  height: 68px;
  background-color: #333;
  cursor: pointer;
}

@mixin button {
  width: 44px;
  height: 12px;
  padding: 0;
  font-family: Nunito;
  font-size: 10px;
  text-transform: uppercase;
  color: #aaa;
  background-color: #000;
  border: none;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.buttonMain {
  @include button;
  width: 58px;
  margin: 12px 0 0 15px;
}

.button {
  @include button;
  margin: 22px 0 0 15px;
}

.buttonOpen {
  background-color: #333;
}